body {
    font-family: Arial, serif, sans-serif;
    background-image: url(../imagens/MAr1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffff;
    margin: 0;
}

header {
    borderbox-top: 1px solid
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 450px;
    border-radius: 15px;
}

h2{
    color: #04699b;
    font-size: 40px;
    margin-left: 90px;
    margin-bottom: 35px;
    display: flex;
    
}


label {
    display: block;
    margin-top: 5px;
    margin-right: 170px;
}


.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

a:hover {
    color: #007bff;
    text-decoration: underline;
}

.form-cadastrar-se {
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    border-radius: 8px;
    margin-left: 35px;
    padding: 35px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    opacity: 0.7;
}

.form-cadastrar-se h2 {
    margin-bottom: 20px;
}

.form-cadastrar-se input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-container {
    text-align: center;
    background-color:; 
    padding: 20px;
    border-radius: 100em; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1D96DE;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0C0E32;
}

#message {
    margin-top: 10px;
    text-align: center;
    color: red;
}
